<!--<div class="bs-docs-sidenav affix navbar-container">
	<img src="/images/me.png" style="width:100px;" />
	<br />
	<br />
	<h4 style="color:gray;font-weight:lighter;">Timothy Ahong</h4>
	<div class="page-header"></div>
	<ul class="nav nav-list">
	  <li><a href="{{ root_url }}/">Blog</a></li>
	  <li><a href="{{ root_url }}/about.html">About</a></li>
	  <li><a href="{{ root_url }}/projects/index.html">Projects</a></li>
	</ul>
	<div class="page-header"></div>
</div>-->


<div class="navbar">
  <div class="navbar-inner">
    <p class="brand">Timothy Ahong</p>
    <div class="nav-container">
    <div class="nav">
      <li><a href="{{ root_url }}/blog.html">BLOG</a></li>
	  <li><a href="{{ root_url }}/">ABOUT</a></li>
	  <li><a href="{{ root_url }}/projects/index.html">PROJECTS</a></li>
    </div>
</div>
  </div>
</div>