---
layout: custom_default
sidebar: false
---
<img src="/images/me.png" class="self-pic"/>

<h3 class="entry-title" style="margin-top:0px;">Coming Soon!</h3>


<div class="blog-index">
  {% assign index = true %}
  {% for post in paginator.posts %}
  {% assign content = post.content %}
    <article>
      {% include article.html %}
    </article>
  {% endfor %}
  <div class="pagination">
    {% if paginator.next_page %}
      <a class="prev" href="{{paginator.next_page}}">&larr; Older</a>
    {% endif %}
    <!--<a href="/blog/archives">Blog Archives</a>-->
    {% if paginator.previous_page %}
    <a class="next" href="{{paginator.previous_page}}">Newer &rarr;</a>
    {% endif %}
  </div>
</div>
